@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #ffffff;
  --main-color: #0ef;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Custom scrollbar */
/* WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 14px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--bg-color); /* color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: var(--second-bg-color); /* color of the scroll thumb */
  border-radius: 6px; /* roundness of the scroll thumb */
  border: 3px solid var(--bg-color); /* border around the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* color of the scroll thumb on hover */
}

section {
  min-height: 100vh;
  padding: 10rem 9% 6rem;
}

button {
  background-color: transparent;
  border: none;
}

/* HOME SECTION CSS  */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.logo {
  background: linear-gradient(to right, var(--main-color) 0%, var(--text-color) 100%);
  -webkit-background-clip: text; 
  background-clip: text;
  color: transparent;
  font-size: 3rem;
  font-weight: 600;
  cursor: default;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
  padding-bottom: 3px;

  background: linear-gradient(
    to right,
    var(--main-color) 0%,
    var(--main-color) 100%
  );
  background-size: 0 2px;
  background-repeat: no-repeat;
  background-position: bottom left;
  transition: background-size 0.5s ease-in-out;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

.navbar a.active {
  background-size: 100% 2px;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-img img {
  width: 35vw;
  animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--main-color);
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 1.3;
}

.home-content p {
  font-size: 1.6rem;
}

.social-media a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: var(--main-color);
  border-radius: 1rem;
  font-size: 1.6rem;
  color: var(--second-bg-color);
  font-weight: 600;
  border: 1px solid var(--main-color);
  transition: 0.5s ease;
}
.btn:hover {
  background-color: transparent;
  color: var(--text-color);
}

.btn-outline {
  background-color: transparent;
  color: var(--text-color);
  margin-left: 2rem;
}

.btn-outline:hover {
  background-color: var(--main-color);
  color: var(--second-bg-color);
}

/* ABOUT SECTION CSS */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: var(--second-bg-color);
}

.about-img img {
  width: 35vw;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

/* SKILLS SECTION CSS  */
.skill-main{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 50px;
  margin-top: 1.6rem;
}

.skill-bar{
  margin-bottom: 2.3rem;
}

.skill-main h3{
  font-size: 2.6rem;
  margin-bottom: 2rem;
  text-align: center;
}

.technical-skills .skill-bar .info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.technical-skills .skill-bar .info p{
  font-size: 1.6rem;
}

.technical-skills .skill-bar .bar{
  width: 100%;
  height: 10px;
  background-color: var(--second-bg-color);
  border-radius: 25px;
  margin-top: 10px;
  position: relative;
}

.skill-bar .bar span{
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: var(--main-color);
  border-radius: 25px;
  /* box-shadow:  0 0 1rem var(--main-color); */
}

.skill-bar .bar .html{
  width: 90%;
  animation: html 2s;
}

.skill-bar .bar .css{
  width: 85%;
  animation: css 2s;
}

.skill-bar .bar .js{
  width: 75%;
  animation: js 2s;
}

.skill-bar .bar .react{
  width: 80%;
  animation: react 2s;
}

.skill-bar .bar .next{
  width: 70%;
  animation: next 2s;
}

@keyframes html{
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes css{
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}

@keyframes js{
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

@keyframes react{
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes next{
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

.skills-grid{
  margin-left: 30px;
}

.skills-grid ul {
  list-style: none;
  padding: 0;
}
.skills-grid li {
  margin: 5px 0;
  display: flex;
  align-items: center;
}
.skills-grid i {
  margin-right: 10px;
  font-size: 1.2em;
}

.pro-skill{
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.4rem !important;
}

.pro-skill i {
  color: var(--main-color);
}

/* PROJECTS SECTION CSS  */
.projects {
  background: var(--second-bg-color);
}

.projects h2 {
  margin-bottom: 4rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.projects-container .projects-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}

.projects-box img {
  width: 100%;
  min-height: 240px;
  transition: 0.5s ease;
}

.projects-box:hover img {
  transform: scale(1.1);
}

.projects-links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.4rem;
}

.projects-box .projects-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}

.projects-box:hover .projects-layer {
  transform: translateY(0);
}

.projects-layer h4 {
  font-size: 3rem;
}

.projects-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}

.projects-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.projects-layer a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}

/* CONTACT SECTION CSS  */
.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  columns: var(--text-color);
  background: var(--second-bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  color: var(--text-color);
}

.contact form .input-box input {
  width: 49%;
  color: var(--text-color);
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* FOOTER CSS  */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
}

.footer-text p {
  font-size: 1.6rem;
}

.footer-iconTop a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  background: var(--main-color);
  border-radius: 2rem;
  transition: 0.5s ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
}

/* RESPONSIVE CSS  */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }
  .projects {
    padding-bottom: 7rem;
  }
  .contact {
    min-height: auto;
  }
  footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
    float: right;
  }
  .header {
    display: block;
  }
  .navbar {
    padding: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }
  .navbar.active {
    display: block;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
  .home {
    flex-direction: column;
  }
  .home-content h3 {
    font-size: 2.6rem;
  }
  .home-content h1 {
    font-size: 5rem;
  }
  .home-img img,
  .about-img img {
    width: 70vw;
    margin-top: 4rem;
  }
  .about {
    flex-direction: column-reverse;
  }
  .projects h2 {
    margin-bottom: 3rem;
  }
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 617px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .contact form .input-box input {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .home-img img,
  .about-img img {
    width: 90vw;
  }
  .footer {
    flex-direction: column-reverse;
  }
  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
}
